@import 'foundation';

@font-face {
    font-family: "BonvenoCF";
    src: url("/fonts/BonvenoCF-Light.otf");
}

@font-face {
    font-family: "Titillium Web";
    src: url("/fonts/TitilliumWeb.ttf");
}

.grey {
    background-color: rgb(199, 199, 199);
}

.grey2 {
    background-color: rgb(222, 222, 222);
}

body {
    background-color: rgb(245, 245, 245);
}

body, h5 {
    font-family: "BonvenoCF";
}

h2, h4, a {
    font-family: "Titillium Web", sans-serif;
}

.calendar{
    max-width: 85%;
    border-color: aliceblue !important;
}
.calendar-title {
    margin: auto;
    text-align: center;
    margin-top: 5%;
    /* background-color: black; */
}