@font-face {
    font-family: "BonvenoCF";
    src: url("./assets/BonvenoCF-Light.otf");
}

body {
    background-color: black;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: white;
    text-decoration: none;
}
.link {
    color: #cef0ff;
    text-decoration: underline;
}

header {
    color: white;
    width: 100vw;
    height: 7vh;
    font-size: 5vh;
    font-family: "BonvenoCF";
    text-align: center;
    /* text-shadow: 2px 2px #474747; */
    -webkit-text-stroke: 1px aliceblue;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}

body {
    background-color: aliceblue;

    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}

canvas { 
    height: 100vh; 
    width: 100vw; 
    display: block;
    margin:0; 
    padding:0;
    top: 0;
    left: 0;
}

.mainText {
    color: white;
    position: absolute;
    font-family: "BonvenoCF";
    font-size: 4.2vmin;
    width: 65vw;
    text-align: center;
}

.mainTextMobile {
    color: white;
    position: absolute;
    font-family: "BonvenoCF";
    font-size: 5vmin;
    width: 72vw;
    text-align: center;
}

.mainTextX {
    color: white;
    position: absolute;
    font-family: "BonvenoCF";
    font-size: 5.6vmin;
    width: 75vw;
    text-align: center;
}

.outline {
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.buttons {
    color: white;
    /* font-size: 6vmin; */
    background-color: black;
    background-blend-mode: overlay;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.50;
}

.button {
    position: relative;
    float: right;
    font-size: 10vmin;
    display: block;
    cursor: pointer;
}
.button2 {
    margin-right: 5px;
    margin-left: 5px;
}

.material-icons.md-48 { font-size: 7vmin; }