/*
    SKYMOCHA WEBSITE
    LANDING PAGE CSS
*/

/* 
    YOUTUBE AND HANDLE DELETED
    GO BACK IN REVISION HISTORY IF RE-ADDED
*/

:root {
    scrollbar-width: none;
}

/* FONTS AND SIZING BASE-LINE */

@font-face {
    font-family: Bonveno;
    src: url("/fonts/BonvenoCF-Light.otf");
}
@font-face {
    font-family: Titillium;
    src: url("/fonts/TitilliumWeb.ttf");
}

h1 {
    font-family: Titillium;
    color: white;
    text-shadow: 1px 1px black;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-family: Titillium;
    color: white;
    text-shadow: 1px 1px black;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    font-family: Titillium;
}

.about h3 {
    margin-right: 12px;

    margin-top: 0px;
    margin-bottom: 0px;
}

.about h5, h3 {
    text-shadow: 1px 1px black;
    color: white;
    text-align: left;
    letter-spacing: 0.075rem;
}

.invis {
    display: none;
}

hr {
    fill: black;
    border: 1px solid black;
    border-left: none;
}

i {
    font-size: 1.325rem;
}

/* LINK STYLING */

header .container a:hover {
    text-decoration: underline;
}

.about a {
    text-decoration: none;
    color: rgba(235, 228, 255, 0.9);
    text-shadow: 1px 1px black;
    background-color:rgba(235, 228, 255, 0.075);
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.125em;

}

a:hover {
    color: rgba(255, 255, 255, 1);
}
.socials_mobile img:hover {
    opacity: 0.825;
}
.insta .post:hover {
    opacity: 0.925;
}

/* HEADER ALL */

header {
    min-height: 70px;
    height: 10%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: -webkit-flex;
    display: flex;
}

header .container  {

    height: 100%;
    width: 50%;
    margin: auto;

}
.header .container {
    padding-left: 22px;
}

header .container a {
    
    display: block; 
    margin: 0 auto;

    height: auto;
    width: fit-content;

    font-family: Bonveno;

    background-color: rgba(0, 0, 0, 0.425);
    text-decoration: none;

    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    color: rgb(244, 244, 244);

    cursor: pointer;

    font-size: 32px;
    letter-spacing: 0.175rem;

}

/* BODY ALL */

.about {
    overflow-y: hidden;
}

.about div {
    display: flex;
    max-height: 90%;
}

.overlay {
    display: flex;
    overflow-y:hidden;
    overflow-x: hidden;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
}

.overlay_container {
    overflow-y:hidden;
    overflow-x: hidden;
    width: 90%;
}

.about {

    text-align: right;
    width: 80%;
    height: calc(100% - 20px);
    overflow-x: hidden;

    padding: 10px;
}

.about div .top img {
    width: 90%;
    height: 90%;
    min-width: 136px;
}

.about div .top {
    display: block;
    height: fit-content;
    margin-left: auto;
    padding-right: 2%;
    margin-bottom: -5%;

    min-width: 150px;
    width: 20%;
    
}

.about div .body {
    display: block;

    margin-left: 2.5%;
    text-align: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    scrollbar-width: none;
}

/* SUPPORT ALL */
.support {
    color: white;
    background-color: rgba(119, 119, 187, 0.33);
    text-align: left;
    margin-right: auto;

    bottom: 0px;
    left: 0px;

    min-height: 66px;
    border-top-style: dashed;

    width: 101%;
    height: 10%;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.33);
}
.support h2 a {
    margin-left: 20px;
    display: -webkit-flex;
    display: flex;
    color: white;
    text-decoration: none;
}
.support h2 a div {
    display: block;
}
.support h2 a div p {
    display: block;
    margin: auto;
}
.support .sub {
    font-size: 1rem;
}
.support img {
    /* margin-top: 2px; */
    height: 52px;
    width: 52px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    padding-top: 3px;
}

/* SOCIAL MEDIA ALL */

.soc_container {
    margin: auto;
}

/* LANDSCAPE */
@media (orientation: landscape) {   

    /* BODY LANDSCAPE */

    body {
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
        background: url("/logo_assets/SkyMocha_Background.png") no-repeat fixed center;
        background-size: cover;
        overflow-x: hidden;
        overflow-y: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .overlay_container {
        height: 75%;
        background-color: rgba(52,51,54,0.65);;
    }
    .overlay {
        height: 100%;
    }
    .about {
        height: 100%;
    }
    .support {
        position: absolute;
    }

    /* SOCIAL MEDIA LANDSCAPE */

    .socials_mobile {
        height: 100%;
        width: 15%;
        min-width: 125px;
        background-color: rgba(254, 252, 255, 0.1);

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: auto;
        overflow-y:hidden;
    }

    .socials_mobile .soc_container {
        margin: auto;
        padding: 10%;
    }

    .socials_mobile .soc_container a img {
        height: 3.5vw;
        min-height: 3rem;
        width: auto;
    }
    
    .socials_mobile .bigger {
        min-height: 4rem;
        height: 4.25vw !important;
    }

    /* FONT STYLING LANDSCAPE */

    h3 {
        padding-left: 36px;
    }
    .bull-point::before {
        content: '•';
        margin-left: -1em;
    }

    @media screen and (max-width: 800px) {
        h3 {
            font-size: 16px;
        }
        .subtitle{
            font-size: 20px;
            line-height: 18px;
            margin-bottom: 10px;
            font-style: italic;
        }
        .title {
            font-size: 25px;
        }
        h1 {
            font-size: 20px;
        }
    }
    @media screen and (min-width: 800px) {
        h3 {
            font-size: 20px;
        }
        .subtitle{
            line-height: 22px;
            margin-bottom: 10px;
            font-style: italic;
        }
        .title {
            font-size: 32px;
        }
        h1 {
            font-size: 30px;
        }
    }

    /* HEADER LANDSCAPE */

    #portfolio a::after {
        content: "PORTFOLIO";
    }
    header {
        width: 90%;
    }
    header .links {
        width: 25%;
        display: flex;
        min-width: fit-content;
    }
    header .container a {
        float: left;
    }

    /* INSTAGRAM LANDSCAPE */
    .insta {
        width: 25%;
        overflow-y: scroll;
        scrollbar-width: none;
        min-width: 235px;
        padding-top: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    .insta .post {
        width: 100%;
        height: auto;
    }
    .insta .post img {
        width: 95%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        display: block;
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    }

}

@media (orientation: portrait) {

    /* BODY PORTRAIT */
    body {
        display: block;
        position:absolute;
        left: -2.5%;
        top: -2.5%;
        height: 100%;
        width: 100%;
        background: url("/logo_assets/SkyMocha_Portrait.png") no-repeat fixed center;
        background-size: cover;    
    } 
    .overlay_container {
        width: 101%;
        height: 75%;
        background-color: rgba(52,51,54,0.55);;
    }
    .overlay {
        width: 100%;
        height: 100%;
        display: block;
    }
    .about {
        width: 90%;
        height: 80%;
    }
    .socials_mobile {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: auto;
        overflow-y: hidden;
    
        width: 90%;
        height: 15%;
        margin: auto;
    }

    /* INSTA REMOVAL PORTRAIT */
    .insta {
        display: none;
    }
    #insta {
        display: none;
    }

    /* HEADER CHANGES PORTRAIT */
    #portfolio a::after {
        content: "PORTF.";
    }
    header {
        padding-top: 2.5%;
        margin-left: 0px;
        display: block;
        height: 10%;
        padding-bottom: 2%;
        width: 101%;
        background-color: rgba(119, 119, 187, 0.66);
        border-bottom: 3px black dashed;
    }
    header .links {
        padding-top: 2%;
        display: flex;
        margin: auto;
        width: 90%;
    }
    header a {
        font-size: 36px !important;
        background-color: rgba(0, 0, 0, 0) !important;
    }
    header .links .container a {
        font-size: 28px;
        margin: auto;
        text-align: center;
    }
    header .links .container {
        margin-left: auto;
    }
 
    /* FONTS PORTRAIT */
    .overlay hr {
        display: none;
    }
    .title {
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    h1 {
        font-size: 24px;
        padding-top: 10px;
    }
    .subtitle {
        display: none;
    }
    h3 {
        font-size: 20px;
        width: 100%;
        margin-left: 2em;
    }
    .bull-point::before {
        content: '•';
        margin-left: -1em;
    }
    #subtitle {
        display: none;
    }

    /* SOCIAL MEDIA */
    .socials_mobile .soc_container {
        padding: 10px;
    }
    .socials_mobile .soc_container a img {
        height: 10.5vw;
        width: auto;
    }
    .socials_mobile .bigger {
        height: 12.5vw !important;
    }

}