@font-face {
    font-family: Bonveno;
    src: url("/fonts/BonvenoCF-Light.otf");
}
@font-face {
    font-family: Titillium;
    src: url("/fonts/TitilliumWeb.ttf");
}

/* body {
    overflow-x: hidden;
    overflow-y: hidden;
} */

@media (orientation: landscape) {

    .break {
        height: 500px;
        /* background-color: antiquewhite; */
    }

    body {
        /* position: absolute;
        left: 0px;
        top: 0px; */
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
        background: url("/logo_assets/SkyMocha_Background.png") no-repeat fixed center;
        background-size: cover;
        z-index: -10;
        overflow-x: hidden;
        overflow-y: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .darken {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: url("/logo_assets/SkyMocha_Background.png") no-repeat fixed center;
        background-size: cover;
        filter: blur(3px) brightness(65%);
        z-index: -9;
        animation-name: body_cover_anim_dark;
        animation-duration: 2.5s;
    }

    .brighten {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        background: url("/logo_assets/SkyMocha_Background.png") no-repeat fixed center;
        background-size: cover;
        z-index: -9;
        filter: none;
        animation-name: body_cover_anim_light;
        animation-duration: 2.5s;
    }

}

@media (orientation: portrait) {

    body {
        display: block;
        position:absolute;
        left: -2.5%;
        top: -2.5%;
        height: 100%;
        width: 100%;
        background: url("/logo_assets/SkyMocha_Portrait.png") no-repeat fixed center;
        background-size: cover;
        z-index: -10;
    } 

    .darken {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-image: url("/logo_assets/SkyMocha_Portrait.png");
        background-position: center;
        background-size: cover;
        z-index: -9;
        filter: blur(3px) brightness(65%);
        animation-name: body_cover_anim_dark;
        animation-duration: 2.5s;
    }

    .brighten {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: url("/logo_assets/SkyMocha_Portrait.png") no-repeat fixed center;
        background-size: cover;
        z-index: -9;
        filter: none;
        animation-name: body_cover_anim_light;
        animation-duration: 3s;
    }

}

@keyframes body_cover_anim_dark {
    0%   { filter: blur(0) brightness(100%); }
    100% { filter: blur(3px) brightness(65%); }
}

@keyframes body_cover_anim_light {
    0%   { filter: blur(3px) brightness(65%); }
    100% { filter: blur(0px) brightness(100%); }
}

/* HEADER */
header {
    /* height: 20%; */
    /* margin-top: 1%; */
    /* margin: auto; */
    min-height: 70px;
    height: 12%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: -webkit-flex;
    display: flex;
    /* background-color: white; */
}

header .container  {

    height: 100%;
    /* width: auto; */
    width: 50%;
    margin: auto;

    /* -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; */
    /* margin: auto; */

}

header .container a {
    
    display: block; 
    margin: 0 auto;

    height: auto;
    width: fit-content;

    font-family: Bonveno;

    color: black;
    text-decoration: none;
    /* text-shadow: 1px 1px #ffb7c5, black 2px 2px; */
    text-shadow: black 1px 1px;
    background-color: rgba(0, 0, 0, 0.08);
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    color: white;

    cursor: pointer;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

header .container a:hover {
    text-decoration: underline;
}

.about h5, h3 {
    font-size: 18px;

    text-shadow: 1px 1px black;
    color: white;
    text-align: left;
}

.about h3 {
    /* padding-top: 25px; */
    text-align: left;
    margin-bottom: 0px;
}

.remove_about h5 {
    margin-bottom: 0px;
}

.about h5 {
    margin-right: 24px;
    /* background-color: white; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.remove_about h5 {
    margin-right: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.remove_about h5, h3 {
    font-size: 20px;

    text-shadow: 1px 1px black;

    color: white;
    text-align: right;
}

.about div .top img {
    /* position: absolute; */
    border-radius: 6px;
    display: block;
    margin: auto;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.about div .top h1 {
    /* margin-left: 25px; */
    text-align: center;
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 1px black;


}
.about {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* height: fit-content; */
    overflow-y: scroll;
    /* height: 80%; */
    /* display: flex; */
    /* display: -webkit-flex; */
}

.about div {
    display: flex;
    height: 90%;
}

.about .down {
    margin: auto;
    width: 100%;
    text-align: center;
    color: white;
    letter-spacing: 0.2rem;
    margin-top: 2%;
    height: 5%;
    /* background-color: antiquewhite; */
}

.overlay {
    display: flex;
    overflow-x: hidden;
}

.overlay_container {
    overflow-x: hidden;
}

.socials_v2 {
    /* width: fit-content; */
    /* width: calc(fit-content - 10%); */
    height: 95%;
    display: flex;
    margin-left: auto;
    /* background-color: aquamarine; */
}

.socials_v2 .soc_container {
    /* height: 105%;
    margin: -2.5%; */
    /* width: 33%; */
    display: block;
    height: 100%;
    /* padding-left: 100%; */
    /* max-width: 33%; */
    /* padding-right: 5%; */
    /* background-color: antiquewhite; */
}

/* ABOUT */
@media (orientation: landscape) {

    #portfolio a::after {
        content: "PORTFOLIO";
    }

    .overlay {
        height: 100%;
        /* background-color: antiquewhite; */
        overflow-x: hidden;
    }

    .overlay_container {
        height: 100%;
        width: 90%;
        overflow-x: hidden;
    }

    header {
        width: 90%;
    }
    header .links {
        width: 42%;
        display: flex;
    }

    header .container a {
        font-size: 32px;
    }

    .header .container {
        padding-left: 22px;
    }

    .socials_v2 {
        padding-right: 10px;
    }

    .soc_container {
        margin-right: 20px;
    }

    .left_feed {
        /* background-color: aquamarine; */
        width: 20%;
        min-width: 20%;
        height: 100%;
        overflow-x: hidden;
    }

    .about {
        /* display: block; */
        /* position: absolute; */
        /* animation-name: about_anim;
        animation-duration: 3s; */
        text-align: right;
        width: 100%;
        height: calc(100% - 20px);
        overflow-x: hidden;
        /* height: 100%; */
        /* right: 5%;
        top: 10%; */

        background-image: linear-gradient(rgba(75,75,75,0.5), rgba(35,35,35,0.5), rgba(20,20,20,0.5));
        border-radius: 6px;
        padding: 10px;
    }

    .about div .top img {
        width: 90%;
        height: 90%;
    }

    .about div .top {
        display: block;
        height: fit-content;
        margin-left: auto;
        padding-right: 2%;
        margin-bottom: -5%;

        width: 20%;
        /* min-width: px; */
        /* background-color: aliceblue; */
    }

    .about div .body {
        display: block;
        /* background-color: antiquewhite; */
        margin-left: 2.5%;
        max-width: 70%;
        text-align: left;
        height: 100%;
        overflow-x: scroll;
        /* margin-left: auto; */
    }

    .support {
        width: 100%;
        height: 10%;
        border-width: 2px;
        border-color: rgba(0, 0, 0, 0.33);
    }

    .socials_v2 .soc_container a img {
        height: 100%;
        width: 100%;
    }
}

@media (orientation: portrait) {

    /* #portolio a span {
        display: none;
        visibility: none;
    } */

    #portfolio a::after {
        content: "PORTF.";
    }

    header {
        /* width: 95%; */
        padding-top: 2.5%;
        margin-left: 0px;
        display: block;
        height: 18%;
        background-color: rgba(119, 119, 187, 0.33);
        padding-bottom: 2%;
        width: 101%;
        border-bottom: 3px black dashed;
    }

    header .links {
        display: flex;
        margin: auto;
        width: 90%;
    }

    .socials_v2 {
        height: 8vh;
        margin: auto;
        width: 100%;
    }

    .soc_container {
        /* padding-left: 6px;
        padding-right: 6px; */
        margin: auto;
    }

    header .links .container {
        /* padding-left: 12px; */
        margin: auto;
    }

    header .links .container a {
        font-size: 28px;
        margin:auto;
        text-align: center;
    }
        
    .overlay_container {
        width: 101%;
        /* padding-top: 2%; */
        margin-bottom: -1%;
    }

    .overlay {
        flex-direction: column-reverse;
    }

    iframe {
        display: none;
    }

    .about {
        display: block;
        
        text-align: right;
        max-width: 100%;
        right: 5%;
        top: 15%;

        text-align: left;

        background-image: linear-gradient(rgba(75,75,75,0.5), rgba(35,35,35,0.5), rgba(20,20,20,0.5));
        border-radius: 6px;
        padding: 10px;
    }
    
    .about div {
        display: block;
    }

    .about .down {
        display: none;
    }

    .about div .top img {
        width: 90%;
        /* height: 90%; */
        height: 100%;
    }

    .about div .top {
        display: none;
        /* display: block; */
        width: 80%;
        height: fit-content;
        margin: auto;
        height: 100%;
        /* background-color: aliceblue; */
    }

    .about div .body {
        display: block;
        margin-left: 2.5%;
        max-width: 90%;
        text-align: left;
        height: 100%;
    }

    .support {
        /* position: fixed; */
        width: 101%;
        border-color: black;
        border-width: 3px;
        /* border-color: black; */
    }

    .socials_v2 .soc_container a img {
        height: 100%;
        width: 100%;
    }

}

.support {
    color: white;
    background-color: rgba(119, 119, 187, 0.33);
    text-align: left;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 0px;
    /* width: 100%; */
    /* position: fixed; */
    bottom: 0px;
    left: 0px;
    /* height: 10%; */
    margin-top: 1%;
    min-height: 80px;
    border-top-style: dashed;
    /* border-style: dashed; */
}
.support h2 a {
    margin-left: 20px;
    display: -webkit-flex;
    display: flex;
    color: white;
    text-decoration: none;
}
.support h2 a div {
    display: block;
}
.support h2 a div p {
    display: block;
    /* background-color: aliceblue; */
    margin: auto;
}
.support .sub {
    font-size: 1rem;
}
.support img {
    width: 42px;
    margin-top: 2px;
    height: auto;
    margin-left: 15px;
    display: block;
}
/* .support a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
} */

h3 {
    font-size: 20px;
    font-family: Bonveno;
}

h5 {
    font-size: 15px;
    font-family: Titillium;
}

.invis {
    display: none;
}

hr {
    border-top: 1px solid rgba(50, 50, 50, 0.8);
    border-bottom: 1px solid rgba(100, 100, 100, 0.8);
    border-left: 12px solid rgba(100, 100, 100, 0.35);
    border-right: 12px solid rgba(100, 100, 100, 0.3);
}


/* SAFARI SUCKS OH MY GOD */
.Safari_BS {
    display: none;
}

@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance: none) {
        .socials_v2 {
            visibility:hidden;
        }
        @media (orientation: portrait) {
            .Safari_BS {
                display: block;
                text-align: center;
            }
        }
    }
  }

@-moz-document url-prefix() {
    .socials_v2 .soc_container a img {
        /* height: 100%; */
        width: 90% !important;
    }
}