/*
    https://loading.io/css/
*/

.lds-roller {
    /* display: inline-block; */
    /* position: relative; */
    width: 64px;
    height: 64px;
  }
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
    }
    @keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
.load-background {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: black;
}

.load-spinner {
    position: fixed; /* or absolute */
    top: 42%;
    left: 50%;
}