@font-face {
    font-family: "BonvenoCF";
    src: url("./assets/BonvenoCF-Light.otf");
}

.bodyMain {
    background-image: url("./assets/background.jpg");
    background-position: left top;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position-x: -38vw;
    background-position-y: -5vh;
}

.bodyMobile {
    background-image: url("./assets/background.jpg");
    background-position: left top;
    background-size: 300%;
    background-repeat: no-repeat;
    background-position-x: -75vw;
}

.bodyMobile2 {
    background-image: url("./assets/background.jpg");
    background-position: left top;
    background-size: 350%;
    background-repeat: no-repeat;
    background-position-x: -75vw;
}

.invisible {
    display: none;
}

footer {
    color: white;
    text-align: center;
    font-family: "BonvenoCF";
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 3vh;
    font-size: 2vmin;
}

a {
    color: white;
    text-decoration: none;
}

.logoChild {
    position: relative;
    width: 100%;
    height: auto;
}

.logoMain {
    width: 60%;
    height: 60%;
    position: relative;
    left: 20%;
    top: 10vmin;
}

.logoMobile {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0%;
    top: 8vmin;
}

.logoMobileX {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0%;
    top: 20vmin;
    padding-bottom: 15vmin;
}

.FuzzCircle {
    width: 12.7%;
    height: 69.5%;
    position: absolute;
    left: 78.1%;
    bottom: 23%
}

.FuzzCircleMobile2 {
    width: 12.3%;
    height: 8%;
    position: absolute;
    left: 76.9%;
    top: 2.5%
}

.FuzzCircleX {
    width: 12.7%;
    height: 37%;
    position: absolute;
    left: 78.1%;
    top: 4%;
}

.mainText {
    text-align: center;
    font-family: "BonvenoCF";
    font-size: 5.2vmin;
    letter-spacing: 0.2vmin;
    position: relative;
    color: white;
    top: 14.5vmin;
    display: block;
    cursor: pointer;
}

.textMobile {
    text-align: center;
    font-family: "BonvenoCF";
    font-size: 7.2vmin;
    letter-spacing: 0.2vmin;
    position: relative;
    color: white;
    top: 16vmin;
    display: block;
}

.textMobile2 {
    text-align: center;
    font-family: "BonvenoCF";
    font-size: 10vmin;
    letter-spacing: 0.2vmin;
    position: relative;
    color: white;
    top: 12vmin;
    display: block;
}

.ytLogo {
    width: 6%;
    height: 6%;
    position: relative;
    left: 40%;
    top: 17vmin;
}

.ytLogoMobile {
    width: 16%;
    height: 16%;
    position: relative;
    left: 30%;
    top: 18vmin;
}

.ytLogoMobile2 {
    width: 23%;
    height: 23%;
    position: relative;
    left: 15%;
    top: 20vmin;
}

.discordLogo {
    width: 6%;
    height: 6%;
    position: relative;
    left: 47%;
    top: 19vmin;
}

.discordLogoMobile {
    width: 16%;
    height: 16%;
    position: relative;
    left: 37%;
    top: 20vmin;
}

.discordLogoMobile2 {
    width: 23%;
    height: 23%;
    position: relative;
    left: 35%;
    top: 23vmin;
}

.triangle {
    width: 2.3%;
    height: 2.3%;
    position: relative;
    right: 1.5vmin;
    top: 0.3vmin;
    display: none;
}
.selected {
    position: relative;
    right: 3.4vmin;
}